{% extends 'EHR/base.html' %}
{% block content %}

    <div class="page-header">
      <h1>Patient Listing</h1>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>SSN</th>
                </tr>
            </thead>
            <tbody>
                {% for o in obj %}
                <tr>
                    <td>{{ o.patient_lastname }}</td>
                    <td>{{ o.patient_firstname }}</td>
                    <td>{{ o.patient_email }}</td>
                    <td>{{ o.patient_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
